@font-face {
    font-family: 'Mulish';
    src: url(https://fonts.gstatic.com/s/mulish/v1/0nksC9PmuvoxAIX2CFsVbM4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
    /* adding mulish font  */
  }
  
body{
   
    
    font-style: normal;
    font-family: 'Mulish', sans-serif;
    

}

header{
    padding: 20px 10px 0px 200px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;

}

.nav-list{
    display: flex;
    gap : 10px;
    align-content: center;
   
}

.nav-list a {

    font-weight: 700;
    font-size: 18px;
    line-height: 23px;

    display: flex;
    color: #b6afc6;

    text-decoration: none; /* Remove the underline from the links */
    padding: 10px; /* Add some padding to the links */
    margin-right: 10px; /* Add some margin to the right of the links */
}
.nav-list a:active{
    color: #000000;
    background-color: red;
}

.active{
    color: #000000 !important;
     /* ! important overrides other and makes this prority */

}
.nav-list a:hover{
    
 /* Change the background color of the links on hover */
    color:#1F1534;
    /* Change the color of the links on hover */
}
.heading{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.heading-img{
    display: flex;
    padding: 10px 0px 0px 100px
}
.heading-title{
    display: flex;
    width: 426px;
    height: 112px;
    padding: 100px 0px 0px 200px;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;

}

.heading-content{
    
    width: 445px;
    height: 96px;
    display: flex;
    color: #7d7987;
    padding-left: 40px;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;


}

.consult-button{
    
    width: 200px;
    height: 60px;
    margin-top: 50px;
    background-color: #458FF6;
    border-radius: 50px;
    padding: 10px 30px ;
    border: 0px;
    color: white;
    transition: filter 0.3s ease-in-out;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    
}
.consult-button:hover{
    filter: brightness(0.8); /* Dim the button by reducing its brightness */

  
}

.service{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 200px;
}
.service-title{
    display: flex;
    margin-top: 100px;
    font-weight: 700;
    font-size: 36px;
}
.service-content{
    display: flex;
    color: #7d7987;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.logo{
    display: flex;
    flex-direction: row;
}
.column {
    width: fit-content;
}
.card {
    display: flex;
    
    flex-direction: column;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    padding: 50px 0px 0px 50px;
    /* text-align: center; */
    background-color: #ffffff;
    border-radius: 10px;


    width: 350px;
    height: 354px;
}
.card-title {
    width: 350px;
    height: 354px;
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    height: 56px;
    margin-top: 20px;
}
.card-description {
    
    color: #7d7987;
    width: 266px;
    height: 84px;
    
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}



.service-data{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.healthcare{
    display: flex;
    justify-content: space-between;
    
}
.healthcare-img{
    margin-top: 300px;
    padding-left: 100px;
}
.healthcare-title{
    display: flex;
    margin-top: 250px;
    flex: 0.6;
    flex-direction: column;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;

    width: 481px;
    height: 112px;
    
}

.healthcare-content{
    display: flex;
    color: #7d7987;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}
.Learnmore-button{
    width: 200px;
    height: 60px;
    border: 1.6px solid #458FF6;
    border-radius: 55px;
    background-color: white;
        
    color: #458FF6;
    line-height: 60px;
    font-weight: 700;
    font-size: 18px;
    transition: box-shadow 0.3s ease-in-out;
}

.Learnmore-button:hover{
    box-shadow: 0 0 1px 1px #458FF6;; /* Add the glow effect */
  
}

.mobile-apps{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    
}
.mobile-apps-title{
    margin-top: 100px;
    display: flex;
    flex: 0.6;
    flex-direction: column;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    padding:100px 0px 0px 200px;

}
.mobile-apps-content{
    display: flex;
    color: #7d7987;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;

    width: 420px;
    height: 120px;
}


.Download-button{
    margin-top: 50px;
    width: 200px;
    height: 60px;
    border: 1.6px solid #458FF6;
    border-radius: 55px;
    background-color: white;
        
    color: #458FF6;
    line-height: 60px;
    font-weight: 700;
    font-size: 18px;
    transition: box-shadow 0.3s ease-in-out;

}

.Download-button:hover{
    box-shadow: 0 0 1px 1px #458FF6;; /* Add the glow effect */
  
}
.Download-button img{
    padding-left: 10px;
}

.element{
    display: flex;
    align-items: right;
}



.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 200px;
}
.column {
    width: fit-content;
}
.article-content{
    display: flex;
    padding: 16px;
    flex-direction: column;
    text-align: justify;
    
}

.article-title{
    margin-top: 100px;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
}

.article-data{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.article-card {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 350px;
    background-color: #ffffff;
    border-radius: 10px;

}

.article-card-title {
    color: #000000;
    font-size: 21px;
    line-height: 32px;
    margin-top: 20px;
    font-weight: 700;

    
    
}
.article-card-description {
    
    color: #7d7987;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    justify-content: center;

    
}
.article-read{
    color: #4089ED;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
}


.View-button{
    
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    border: 1.4px solid #458FF6;
    border-radius: 55px;
    background-color: white;
        
    color: #458FF6;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;

    width: 200px;
    height: 56px;
    transition: box-shadow 0.3s ease-in-out;
}
.View-button:hover{
        box-shadow: 0 0 1px 1px #458FF6;; /* Add the glow effect */
        cursor: pointer;
      
}
.testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container {
    display: flex;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 250px;  
    width: 1120px;
    height: 425px;
}

.container-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 48px; 
}

.testimonials-elements{
    padding: 0px;
}
.box {
    display: flex;
    width: 1120px;
    height: 425px;
    left: 240px;
    top: 3726px;
    
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box-authorname{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;

}
.box img {
    display:flex;
    object-fit: cover;
    justify-content: center;
    padding-left: 0px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid #fff;
    object-position: center;

    
}

.box-content{
    display: flex;
    text-align: center;
    padding: 10px 10px;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    

}

.testimonials-nav{
    margin-top: 30px;
}




.Contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}


.Contact-title{
    margin-top: 10px;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
}

.contact-question{
    font-weight: 300;
    font-size: 18px;
    line-height: 23px
}

  /* Style the form */
  form {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;

  }
form label{
    font-weight: 300;
    font-size: 16px;
}
  /* Style the input fields */
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #7D7987;
    ;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  /* Style the submit button */
  input[type="submit"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 40px;
    margin: auto;

    border: 1.4px solid #458FF6;
    border-radius: 55px;
    background-color: white;
    color: #458FF6;
    
    font-weight: 700;
    font-size: 18px;
    transition: box-shadow 0.3s ease-in-out;

    line-height: 40px;
  }

  input[type="submit"]:hover {
    box-shadow: 0 0 1px 1px #458FF6;; /* Add the glow effect */
    cursor: pointer;
  }

  /* Style the labels */
  label {
    font-weight: bold;
  }


  footer {
    display:flex ;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%); /* Set the blue gradient background color */
    color: #fff; /* Set the text color */
    text-align: center; /* Center align the text */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

    
  }
   

  
  .Trafalgar-content{
  
    flex-basis: 40%;
    text-align: center;
  }

  
  .Trafalgar-content img{
  
    display: flex;
    justify-content: left;
    padding: 10px 0px 0px 100px;
  }

  .Trafalgar-content h1{
    padding: 10px 0px 0px 10px;
  }
 
  .Company-content,
  .Region-content,
  .Help-content{
   
    flex-basis: 20%;
  }


  
  .Company-content a,
  .Region-content a,
  .Help-content a {
        display: flex;
        color: white; /* Set the default color of the links */
        text-decoration: none; /* Remove the underline from the links */
        padding: 2px; /* Add some padding to the links */
        margin-right: 10px; /* Add some margin to the right of the links */
        flex-direction: column;
  }

  hr{
    border: 1px solid black;
    border-radius: 10px;
  }

